.container {
  min-height : 100vh;
  background: #f3f4f6;
  display: flex; 
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card {
  background: #fff;
  /* padding: 30px; */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 550px;
  border-radius: none;
  overflow: hidden;
  height: 100%;
  max-height: 3000px;
}

.image {
  height: 250px;
  background: #9ca3af;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.content {
  display : flex;
}

.notes{
  width: 30%;
}

.notes textarea {
  width: 100%;
  height: 150px;
  margin-top: 5px;
  margin-right: 10px;
  padding: 20px;
  text-decoration-line: underline;
  border: none;

}

.calandar {
  width : 70%;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  gap: 8px;
  font-size: 14px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 8px;
  margin-top:40px;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  
}

.date {
  height : 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #ddd; */
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-header button {
  padding: 5px 10px;
  cursor: pointer;
}

.date {
  cursor: pointer;
}

/* Start Date */
.start {
  background-color: #2563eb;
  color: white;
  border-radius: 50%;
}

/* End Date */
.end {
  background-color: #1e40af;
  color: white;
  border-radius: 50%;
}

/* In Between */
.in-range {
  background-color: #c6dbf3;
  border-radius: 50%;
}